.navItems-li{
    display: inline-block;
    padding-left: 3rem;
    font-size: 1.1rem;
    color: white;
    text-decoration: none !important;
}
.navItems-li:hover{
    color: rgb(246, 65, 65);
    transition: 1s;
}
@media screen and (min-width:995px) {
    .navItems-li{
        font-size: 1.3rem;
        margin-left: 2.5rem;
    }
}